<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax | Pet Adoption Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <section>
        <div class="pet-grid">
            <span style="font-weight: 800">Did you know?</span><br/>{{ pet.pet_fact }}
            <div class="pet-item">
                <h2>{{pet.pet_name}}</h2>
                <img src="{{ url_for('static', filename='assets/') }}{{ pet.pet_photo }}"/>
            </div>
            <a href="/pets">Go back</a>
        </div>
    </section>
</body>
</html>
