<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax | Pet Adoption Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <section>
        <h1>Welcome to Pet Fax</h1>
        <div class="pet-grid">
            {% for pet in pets %}
            <div class="pet-item">
                <h2>{{pet.pet_name}}</h2>
                <img src="{{ pet.pet_photo}}" alt="{{ pet.pet_alt }}">
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
